<footer class="site-footer">
  <div class="site-footer__inner">
    <div style="margin-bottom: 20px">
      <h2
        style="color: #fff; font-size: 1.5rem; text-align: left"
        data-i18n="footerTitle"
      >
        Wplace Pixel Tool
      </h2>
      <p data-i18n="footerDescription">
        The ultimate pixel art converter for Wplace platform
      </p>
    </div>
    <div class="site-footer__groups">
      <div class="site-footer__group">
        <h4 data-i18n="linksTitle">Links</h4>
        <ul class="site-footer__list">
          <li><a href="/">Wplace Pixel Art Converter</a></li>
          <li><a href="/geocode">Wplace Finder(Lat/Long Locator)</a></li>
          <li><a href="/blue-marble">Blue Marble Plugins</a></li>
          <li><a href="/palette">Wplace Colors Palette</a></li>
          <li><a href="/#what-is-wplace">What is Wplace.live</a></li>
          <li><a href="/#wip-rules-title">Wplace.live rules</a></li>
          <li><a href="/#faq">Frequently Asked Questions</a></li>
          <li><a href="/#wplace-color-palettes">Wplace Color Palettes</a></li>
          <li>
            <a href="https://github.com/PEPOAFONSO/color_converter_wplace"
              >GitHub</a
            >
          </li>
        </ul>
      </div>
      <div class="site-footer__group">
        <h4 data-i18n="legalTitle">Legal</h4>
        <ul class="site-footer__list">
          <li><a href="/privacy.html">Privacy Policy</a></li>
          <li><a href="/terms.html">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-footer__bottom">
    <p data-i18n="copyright">© 2025 Wplace Pixel Tool. All rights reserved.</p>
  </div>
  <div id="fazier-badge" class="site-footer__badges">
    <a href="https://fazier.com/launches/www.wplace.wiki" target="_blank"
      ><img
        src="https://fazier.com/api/v1//public/badges/launch_badges.svg?badge_type=featured&theme=dark"
        width="100"
        alt="Fazier badge"
    /></a>
    <a href="https://twelve.tools" target="_blank"
      ><img
        src="https://twelve.tools/badge3-dark.svg"
        alt="Featured on Twelve Tools"
        width="100"
        height="54"
    /></a>
    <a
      href="https://indie.deals?ref=https%3A%2F%2Fwww.wplace.wiki"
      target="_blank"
      rel="noopener noreferrer"
      width="100"
      >Indie.Deals</a
    >
    <a href="https://www.aiproductlist.org" title="AI Sites | 2025" width="100"
      >AI Product List</a
    >
    <a href="https://goodaitools.com"
      ><img
        src="https://goodaitools.com/assets/images/badge.png"
        alt="Good AI Tools"
        height="54"
        width="100"
    /></a>
  </div>
</footer>
